# Bỏ qua thư mục môi trường Python
backend/venv/
backend/.venv/
__pycache__/
*.pyc

# Bỏ qua thư mục thư viện Nodejs (Rất nặng)
frontend/node_modules/
frontend/dist/

# Bỏ qua file log hoặc file tạm
*.log
.DS_Store
# Bỏ qua các file thực thi
*.exe
*.dll
# (Tùy chọn) Nếu file dữ liệu backup quá lớn (>100MB) thì bỏ qua, 
# nhưng trường hợp của bạn nhỏ nên cứ để lại để sync cho tiện.